<div class="player-card {{ player.sport | downcase }}"
     data-rank="{{ player.rank | downcase }}"
     data-sport="{{ player.sport | downcase }}">
  <div class="card-inner">

    <!-- Front -->
    <div class="card-face card-front">
        <div class="player-name">
          {% assign parts = player.name | split: " " %}
          <span>{{ parts[0] }}</span>
          <span>{{ parts[1] }}</span>
        </div>

        <div class="content-row">
          <img class="player-photo" src="{{ site.baseurl }}{{ player.image }}" alt="{{ player.name }}">

          <div class="card-stats">
            {% for stat in player.stats %}
              <p>{{ stat }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- <img class="player-photo"
           src="{{ site.baseurl }}{{ player.image }}"
           alt="{{ player.name }}">
      <div class="card-stats">
        <h4>{{ player.name }}</h4>
        {% for stat in player.stats %}
          <p>{{ stat }}</p>
        {% endfor %}
      </div>
    </div> -->

    <!-- Back -->
    <div class="card-face card-back">
      <h4>HOF Pace</h4>
      {% for pace in player.hof_pace %}
        <p>{{ pace }}</p>
      {% endfor %}
    </div>

    <!-- Expanded -->
    <div class="card-face card-expanded">
      <h4>Summary</h4>
      <p>{{ player.summary }}</p>
    </div>

  </div>
</div>
