{% comment %}
  Series block: collapsible list of posts in the same series
{% endcomment %}
{% if page.series %}
  {% assign series_posts = site.posts | where: "series", page.series | sort: "series_order" %}
  {% if series_posts.size > 0 %}
    <div class="series-block">
      <button class="collapsible">Series: {{ page.series | replace: "-", " " | capitalize }}</button>
      <div class="series-content">
        <ul>
          {% for post in series_posts %}
            <li {% if post.url == page.url %}class="current"{% endif %}>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endif %}
