---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: 'Merriweather', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}