---
layout: default
---

{% include page_title.html %}
{% include breadcrumbs.html %}
{% include series.html %}

<div class="post-content">
  {{ content }}
</div>

{% include related_posts.html %}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".collapsible").forEach(btn => {
      btn.addEventListener("click", () => {
        btn.classList.toggle("active");
        const content = btn.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    });
  });
</script>

