---
layout: default
---

<div class="holo-banner">
  <h1 class="holo-title">Tag: {{ page.tag }}</h1>
</div>

<div class="post-grid">
  {% assign tag_name = page.tag %}
  {% for post in site.tags[tag_name] %}
    <article class="post-card neon-card">

      {% if post.image %}
      <img src="{{ post.image | relative_url }}" class="post-card-img" />
      {% endif %}

      <h2 class="post-card-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>

      <div class="post-card-meta">
        {{ post.date | date: "%b %d, %Y" }}
      </div>

      <p class="post-card-excerpt">
        {{ post.excerpt }}
      </p>

    </article>
  {% endfor %}
</div>
